.azure/
.env
.env-example
.git/
.github/
.gitignore
.pytest_cache/
.venv/
__pycache__/
*.pyc
*.md
.flake8
pytest.ini
requirements-test.txt
test/
docs/
img/
infra/
scripts/
azure.yaml
generate_dataset_service_mapping.py
data/dataset_services.json
slack_app_manifest.yaml
